/*-------------------Base----------------------*/
.chess-pieces-black {
    z-index: 100;
    position: absolute;
    width: 30px;
    height: 30px;

    border-radius: 50%;

    background: radial-gradient(10px circle at 60% 35%, #999 10%, #333 160%);
}
.chess-pieces-white {
    z-index: 100;
    position: absolute;
    width: 30px;
    height: 30px;

    border-radius: 50%;

    background: radial-gradient(10px circle at 60% 35%, #fff 10%, #999 160%);
}


/*------------------Layout---------------------*/
#container {
    width: 525px;

    margin: 30px auto;
    padding: 15px;

    box-shadow: 0 0 10px 1px #ddd;
    outline: 1px solid #efefef;
}
#chessboard {
    position: relative;
    width: 525px;
    height: 525px;

    outline: 1px solid #aaaaaa;
}
.box {
    display: inline-block;
    vertical-align: top;

    width: 35px;
    height: 35px;

    outline: 1px solid #aaaaaa;
}
p {
    font-family: "Microsoft YaHei UI";
    margin: 30px auto;
    text-align: center;
}
#operate {
    width: 525px;
    margin: 20px auto;
}


/*------------------Module---------------------*/
.oper-btn {
    font-family: "Microsoft YaHei UI";
    font-size: 1.125em;
    color: #333333;

    padding:5px 20px;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #333333;
}
.oper-btn:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #333333;
}
.oper-btn:focus {
    outline: none;
}


/*-------------------State---------------------*/


/*-------------------Theme---------------------*/